/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*,*::before,*::after{
  box-sizing: border-box;
}

body{
  font-size: 24px;
  line-height: 1.75;
  font-weight: 700;
  font-family: 'roboto','Noto Sans TC','Microsoft JhengHei',sans-serif;
}
img{
  vertical-align: middle;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header,.about,.brand{
  margin-bottom: 56px;
}

.header{
  background: url(../images/banner.png) no-repeat 90% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #707070;
  height: 100vh;
}

.header-details h1{
  font-size: 80px;
  line-height: 106px;
  font-weight: 900;
  margin-bottom: 32px;
}
.header-details h3{
  font-size: 24px;
  margin-bottom: 40px;
}
.header-details .social-media{
  display: flex;
  justify-content: space-between;
}
.section-title{
  font-size: 64px;
  line-height: 84px;
  font-weight: 500;
}
.about h2{
 margin-bottom: 40px; 
}
.about img{
  margin-bottom: 20px;
}
.about-details{
  padding-bottom: 24px;
}
.about-details li:first-child{
  margin-bottom: 4px;
}
.about-details li:last-child{
  margin-top: 8px;
  font-size: 24px;
  line-height: 36px;
}
.about .work-title{
  max-width: 384px;
  border-top: 1px solid #000;
  padding-top: 28px;
  margin: 0 auto;
}

.about .work-title li{
  font-size: 24px;
  position: relative;
  vertical-align: middle;
  margin-left: 22px;
}
.about .work-title li:not(:last-child){
  margin-bottom: 28px;
}
.about .work-title li::before{
  content: "";
  width: 22px;
  height: 22px;
  background: #891818;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  margin-left: -26px;
  vertical-align: middle;
  border-radius: 50%;
}
.brand{
  background: #000;
  color: #fff;
  padding: 56px 0 160px 0;
}
.brand h2{
  margin-bottom: 12px;
} 
.brand h3{
    font-weight: 500;
    margin-bottom: 32px;
}
.brand p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 68px;
    font-weight: 500;

}
.brand .brand-pics{
  display: flex;
  row-gap: 40px;
  column-gap: 24px;
  flex-wrap: wrap;
  justify-content: center;

}
.other-works{
  margin-bottom: 144px;
}
.other-works h2{
  margin-bottom: 16px;
}
.other-works>p{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 56px;
  font-weight: 500;
}
.other-works_pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
  
}
.other-works li img{
  margin-bottom: 16px;

}
.other-works li p{
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.footer{
  background: #000;
  color: #fff;
  text-align: center;
  padding: 64px 0;
  
}
.footer h2{
  margin-bottom: 16px;

}
.footer ul{
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.footer ul li:not(:last-child){
  margin-bottom: 16px;
}
.footer ul a{
  color: #fff;
  text-decoration: none;
}
.footer ul a:hover{
  opacity: 0.5;
}